.naslov{
    width:100%;
    display:grid;
    grid-template-columns: 400px 1fr;
}
h1{
    font-size: 30px;
}
p{
    color:rgb(99, 99, 99);
    font-size: 17px;
}
.blok{
    background-color: rgb(192, 190, 190);
    display:grid;
    place-items: center;
    color:rgb(75, 70, 70);
    font-size: 40px;
}
.sve{
    gap:12px;
    width: 100%;
    margin-top: 50px;
    display:grid;
    grid-template-columns: repeat(4, 24%);
    grid-template-rows: repeat(3, 13vw);
    grid-template-areas: 
    "jedan dva tri tri"
    "cetiri cetiri tri tri"
    "cetiri cetiri pet sest";
}
.prvi{
    grid-area: jedan;
    font-size: 40px;
}
.drugi{
    grid-area:dva;
    font-size: 40px;
}
.treci{
    grid-area:tri;
    font-size: 80px;
}
.cetvrti{
    grid-area:cetiri;
    font-size: 80px;
}
.peti{
    grid-area:pet;
    font-size: 40px;
}
.sesti{
    grid-area:sest;
    font-size: 40px;
}
@media screen and (max-width:720px){
    .sve{
        grid-template-columns: repeat(2, 48%);
        grid-template-rows: repeat(6,20vw);
        grid-template-areas: 
        "jedan dva "
        "tri tri"
        "tri tri"
        "cetiri cetiri"
        "cetiri cetiri"
        "pet sest";
    }
    .naslov{
        display:block;
    }
}

@media screen and (max-width:480px){
    .sve{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6,35vw);
        grid-template-areas: 
        "jedan"
        "dva"
        "tri"
        "cetiri"
        "pet"
        "sest";
    }
    
    body{
        padding:100px 20px;
    }
    h1{
        font-size: 30px;
    }
    .blok{
        font-size: 5vw;
    }
}

body{
    padding: 60px 70px;
}   