
.naslov{
    height: 370px;
    width: 220px;
    border: 1px black solid;
    margin: 15px 10px 15px 10px;
    display: inline-block;
    padding:  20px;
    border-radius: 20px;
}

h3{
    font-size: small;
    margin: 0;
    font-weight: lighter;

}
h1{
    margin: 0px;
}


.block{
    background-color:  grey;
    width: 200px;
    height: 30px;
    margin-top: 50px;
}

.button{
    font-size: smaller;

}
