
body{
    background-color: black;
    padding: 250px;
    text-align: center;
}

.slovo{
    font-size: 65px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    display: inline-block;
    animation-name: rotate;
     animation-duration: 2s;
     animation-iteration-count: infinite; 
}

@keyframes rotate {
    0% { transform: rotateY(360deg);}
    25% { transform: rotateY(0deg);}
}


